@inject IViewLocalizer _Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@model UI.MVC.Models.TeacherSessionViewModel

@{
    ViewBag.Title = _Localizer["Code Screen"];
    Layout = "_Layout";
}
<div class="container mt-2">
    <h3>@_Localizer["Class:"] @Model.ClassName</h3>
    <h3 id="numOfStudents">@_Localizer["Amount of students:"] @Model.CurrentStudentCount/@Model.MaxAmountStudents</h3>
    <h3>@_Localizer["Session Code:"] @Model.SessionCode</h3>
    @if (ViewBag.QRCode != null)
    {
        <img class="img-fluid w-50 h-50" id="sessionQRCode"src="@string.Format("data:image/png;base64,{0}", Convert.ToBase64String(ViewBag.QRCode))" alt="Qr-Code could not be generated"/>
    }
</div>


<form class="form-check" asp-controller="Teacher" id="form">
    <partial name="_HiddenTeacherSessionViewModel"/>
    <input type="hidden" id="sessionCode" asp-for="SessionCode"/>
    @if (!ViewBag.ForceWaiting)
    {
        <button type="submit" asp-controller="Teacher" asp-action="ShowStatement" id="nextStatement" class="btn btn-primary">@_Localizer["Start test"]</button>
    }
    @if (ViewBag.ForceWaiting)
    {
        <button type="submit" asp-controller="Teacher" asp-action="TestResult" id="nextStatement" class="btn btn-primary">@_Localizer["Show result"]</button>
    }
</form>

@section Scripts
{
    <script src="~/dist/signalr.entry.js" defer></script>
    <script src="~/dist/teacherGame.entry.js" defer></script>
}