@using Microsoft.AspNetCore.Mvc.Localization
@model BL.Domain.Test.Party
@inject IViewLocalizer _Localizer

@{
    ViewBag.Title = _Localizer["Media manager"];
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>


<form enctype="multipart/form-data" asp-action="MediaManager">

    <input class="form-control" type="hidden" name="partyId" value="@Model.Name">
    <div class="form-group">
        <label for="file">@_Localizer["Image"]</label>
        <input id="file" class="form-control" name="file" type="file">
        <p class="alert-warning">Tested file formats are .png and .jpeg; leave this field as is, if you don't want to change the current image</p>
    </div>
    <div class="form-group">
        <label for="link">@_Localizer["Link to media:"]</label>
        <input class="form-control" id="link" name="link" type="text" value="@Model.MediaLink">
        <p class="alert-warning">Only normal YouTube links will work; leave this field as is, if you don't want to change the current video</p>
    </div>
    <input class="btn btn-primary mb-3" type="submit" value="Upload"/>
</form>

<div class="table">
    <div class="col">
        <div class="row">
            <h3>@_Localizer["Current image:"]</h3>
        </div>
        <div class="row">
            <p>@_Localizer["If you see your image here, the upload was successful"]</p>
        </div>
        <div class="row">
            <img src="@Model.ImageLink" alt="image" width="300px">
        </div>
    </div>
    <div class="col">
        <div class="row">
            <h3>@_Localizer["Current video:"]</h3>
        </div>
        <div class="row">
            <p>@_Localizer["If you see your video here, the upload was successful"]</p>
        </div>
        <div class="row">
            <iframe width="300px" src="https://www.youtube.com/embed/@Model.MediaLink" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

<a asp-action="PartiesList" class="btn btn-secondary">@_Localizer["Return to overview"]</a>